 @media screen and (max-width: 775px) and (min-width: 300px) {
   #search {
     float: none !important;
     width: 100% !important;
     margin-top: 10px !important;
   }
 }

 #search {
   float: right;
   width: 199px;
 }

 .messageClass {
   border: 1px solid black;
   background-color: white;
   border-radius: 5px;
 }

 .formDiv {
   border: 1px solid black;
   padding-top: 5px;
   padding-bottom: 8px;
   border-radius: 5px;
 }
