<div class="container">
    <div class="row">
        <div class="col s8 offset-2">
            <div class="card-panel teal lighten-2">
                <h4 class="center white-text">Image Upload Component</h4>
            </div>
            <form #imageForm=ngForm>
                <div class="row">
                    <p>Form input should use following animation behavirs.</p>
                    <div class="input-field col s12">
                        <input type="text" #Caption ngModel name="Caption"  id="Caption" required>
                        <label for="Caption">Caption</label>
                    </div>               
                </div>
                <p>This code is for image file upload, to be use for uploading business logo or user's profile image in the setting.</p>
                <img [src]="imageUrl" style="width:250px;height:200px"><br>
                <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)"><br>
                <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>




<div style="text-align: center;">
    <h1>
        {{}}
    </h1>
</div>