<div class="col-md-12">
  <div class="col-md-12">
    <img class="logoImage" src="../../../assets/images/logo-1.webp" alt="logo image" />
    <ul class="list-group mt-3">
      <ng-container *ngFor="let li of links">
        <li class="list-group-item text-center sidenav" [routerLink]="li.link">
          <i class="fa fa-2x {{li.class}}" aria-hidden="true"></i><br>
          {{li.text}}
        </li>
      </ng-container>
    </ul>
  </div>
</div>


<!--
  prateek.trivedi.25@gmail.com
  ptrivedi@123
-->
<!--
export ANDROID_HOME="/home/mayur/android-sdk"
export PATH="${PATH}:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools"
 -->
<!-- 
export ANDROID_HOME="/home/prateek/Android/Sdk"
export PATH="${PATH}:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools"
 -->