<app-navbar></app-navbar>
<mat-sidenav-container id="matSidenavContainer">
    <mat-sidenav id="sidebar" [(opened)]="opened">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content id="matSidenavContainer">
        <button (click)="opened=!opened" mat-icon-button color="primary"
            aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="container">
            <div class="col-md-12">
                <h3 class="text-center">Upload Center</h3>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <table class="table mb-3" style="margin-top: 20px;">
                            <thead class="thead-new">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Provider</th>
                                    <th scope="col">Approve</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>05/05/2020</th>
                                    <td>12:45 PM</td>
                                    <td>Dr.K</td>
                                    <td class="text-center">
                                        <button class="btn btn-success">Approve</button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-info">Sign in..</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>05/05/2020</th>
                                    <td>12:45 PM</td>
                                    <td>Dr.K</td>
                                    <td class="text-center">
                                        <button class="btn btn-success">Approve</button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-info">Sign in..</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>05/05/2020</th>
                                    <td>12:45 PM</td>
                                    <td>Dr.K</td>
                                    <td class="text-center">
                                        <button class="btn btn-success">Approve</button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-info">Sign in..</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- modal open -->

        <div class="modal fade bd-example-modal-sm" id="smallModel" tabindex="-1" role="dialog"
            aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Invite new provider:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control-plaintext" id="staticEmail"
                                        placeholder="Enter E-mail">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm  btn-primary mb-2">Search</button>
                            <div class="col-sm-12">
                                <div class="row customBox">
                                    <div class="col-sm-6">
                                        <div class="float-left">
                                            <img class="profileImg rounded-circle"
                                                src="../../../assets/images/doctor.webp" alt="test">
                                        </div>
                                        <div class="customBadge">
                                            1
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-right">
                                        <div class="float-right docName">Maya N.</div>
                                    </div>
                                </div>
                                <div class="row customBox">
                                    <div class="col-sm-6">
                                        <div class="float-left">
                                            <img class="profileImg rounded-circle"
                                                src="../../../assets/images/doctor.webp" alt="test">
                                        </div>
                                        <div class="customBadge">
                                            5
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-right">
                                        <div class="float-right docName">Lisa M.</div>
                                    </div>
                                </div>
                                <div class="row customBox">
                                    <div class="col-sm-6">
                                        <div class="float-left">
                                            <img class="profileImg rounded-circle"
                                                src="../../../assets/images/doctor.webp" alt="test">
                                        </div>
                                        <div class="customBadge">
                                            3
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-right">
                                        <div class="float-right docName">Maria L.</div>
                                    </div>
                                </div>
                                <div class="row customBox">
                                    <div class="col-sm-6">
                                        <div class="float-left">
                                            <img class="profileImg rounded-circle"
                                                src="../../../assets/images/doctor.webp" alt="test">
                                        </div>
                                        <div class="customBadge">
                                            2
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-right">
                                        <div class="float-right docName">John D.</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Clear All</button>
                        <button type="button" class="btn btn-sm btn-primary">Select All</button>
                        <button type="button" class="btn btn-sm btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal close -->
    </mat-sidenav-content>
</mat-sidenav-container>