<app-navbar></app-navbar>
<mat-sidenav-container id="matSidenavContainer">
  <mat-sidenav id="sidebar" [(opened)]="opened">
    <app-sidebar [routeType]="sidebarOptions"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content id="matSidenavContainer">
    <button (click)="opened=!opened" mat-icon-button color="primary"
      aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- col-md-10 offset-1 col-sm-12 -->
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link heading" style="font-weight: bold;font-size: 16px;">Welcome,sneak@myoaligner.com</a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="col-md-12">
              <ul class="nav float-right">
                <li class="nav-item">
                  <a class="nav-link" href="#">0 in progress</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">0 Waiting for you</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Events and Alerts</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="jumbotron">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <img class="fileImage img-fluid" src="../../../../assets/images/file.png" alt="file">
              </div>
              <div class="col-md-10">
                <h6 class="font-weight-bold pt-2">Send a document for signature</h6>
                <p class="font-weight-light">Request signature on a new agreement,or start from your library of template
                  and workflows</p>
                <div class="row">
                  <a class="btn btn-primary text-white ml-3" id="reqBtn">Request signatures</a>
                  <a class="btn btn-secondary text-white ml-3">Start from library</a>
                </div>
              </div>
            </div>
          </div>
          <!--  <img src="src/assets/images/file.png" alt=""> -->
        </div>
        <div class="col-md-12">
          <h6 class="font-weight-bold">Do more with adobe sign</h6>
          <div class="row">
            <div class="box ml-3" id="firstBox">
              <i class="fa fa-file fa-2x pt-3" style="color: #dda3a3;"></i><br>
              File and Sign a document
            </div>
            <div class="box">
              <i class="fa fa-file fa-2x pt-3" style="color: #dda3a3;"></i><br>
              Publish a web form
            </div>
            <div class="box">
              <i class="fa fa-file fa-2x pt-3" style="color: #dda3a3;"></i><br>
              Send in bulk with Mega sign
            </div>
            <div class="box">
              <i class="fa fa-file fa-2x pt-3" style="color: #dda3a3;"></i><br>
              Create a reusable template
            </div>
            <div class="box">
              <i class="fa fa-file fa-2x pt-3" style="color: #dda3a3;"></i><br>
              Manage and track all agreement
            </div>
            <div class="box">
              <i class="fa fa-file fa-2x pt-3" style="color: #dda3a3;"></i><br>
              Enhance your account
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
