<div class="col-md-12">
    <div class="col-md-12">
        <img class="logoImage" src="../../../assets/images/logo-1.webp" style="height: 65px;" alt="logo image" />
        <ul class="list-group">
            <li class="list-group-item text-center borderless">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i><br>
                Providers
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-male fa-2x" aria-hidden="true"></i><br>
                Patients
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i><br>
                Team
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-thermometer-empty fa-2x" aria-hidden="true"></i><br>
                Lab
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i><br>
                Invite
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i><br>
                Appointments
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i><br>
                E-sign
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-fax fa-2x" aria-hidden="true"></i><br>
                E-fax
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-commenting fa-2x" aria-hidden="true"></i><br>
                SMS
            </li>
        </ul>
    </div>
</div>