@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "~angular-notifier/styles";
@import '~ngx-toastr/toastr.css';
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#sidebar {
  background-color: #131946;
}

#matSidenavContainer {
  min-height: 95vh;
}

.mat-drawer-content.mat-sidenav-content {
  background: #ebf2fe;
}

.thead-new {
  background-color: #4472c4;
}

#staticEmail {
  padding-left: 5px;
}

.loginErrors.pl-0 {
  font-size: 12px;
  color: red;
}

.dropdown-menu.show {
  z-index: 9999;
  left: -95px;
}

.mat-icon-button.mat-button-base.mat-primary {
  margin-left: 12px;
  margin-top: 5px;
}

.customBox {
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 5px;
}

.profileImg {
  width: 45px !important;
  height: 45px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  object-fit: cover;
}

.docName {
  padding-top: 10px;
  font-size: 15px;
}

.customBadge {
  background: blue;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 58px;
  border-radius: 50%;
  color: white;
  top: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.circle {
  background: #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-modal-body {
  height: 300px;
  overflow-y: scroll;
}

.test {
  background-image: url('./assets/images/itl.cat_mountain-wallpaper_154988.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
