@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#sidebar {
  background-color: #131946;
}

#matSidenavContainer {
  min-height: 95vh;
}

.mat-drawer-content.mat-sidenav-content {
  background: #ebf2fe;
}

.thead-new {
  background-color: #4472c4;
}
